Library/
Logs/
NetworkTest/
Temp/
# Assets/
# Packages/
# ProjectSettings/
# UserSettings/

# Visual Studio / Rider
.vs/
.vscode/
*.sln
*.csproj
*.unityproj
*.suo
Assets/Resources/Fonts/*.asset
Assets/Resources/Fonts/*.asset.meta

UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Video files
*.mp4
*.mov
*.avi
*.mkv