Library/
Logs/
NetworkTest/
Temp/
# Assets/
# Packages/
# ProjectSettings/
# UserSettings/

# Visual Studio / Rider
.vs/
.vscode/
*.sln
*.csproj
*.unityproj
*.suo
Assets/Resources/Fonts/*.asset
Assets/Resources/Fonts/*.asset.meta